<% @trips.each do |trip| %>
<section class='work'>
	
	<div class='wrapper'>
		
		<div class='row'>
			
			<div class= "card card_full">
				<div class="card_inner">
					<h2><%= trip.name %></h2>
					<div class="inline">
					  <h4 style="float:left"><%= trip.start %>&nbsp to &nbsp</h4>
					  <h4 style="float:right"><%= trip.dest %></h4>
				    </div>
					
					

						<p ><strong>Car</strong>:<%= trip.car %></p>
					    <p ><strong>Seats</strong>:<%= trip.seats %></p>
					<div class-"inline">
						<p style="float:left"><strong>Day</strong>:<%= trip.day %></p>
					    <h3 style="float:right"><%= trip.time %></h3>
					    <br>
					    <h5>Contact:&nbsp &nbsp<%=trip.phone %></h5>
					</div>
					<button>Book</button>
					<br>
					<br>
					<%= link_to 'Edit', edit_trip_path(trip) %>
					<%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %>

			    </div>
			

		    </div>
    
	  </div>
	<%end %>
</div>
</section>

