<p id="notice"><%= notice %></p>

<div class='wrapper'>
  <div class='container'>
<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @trip.start %>
</p>

<p>
  <strong>Dest:</strong>
  <%= @trip.dest %>
</p>

<p>
  <strong>Car:</strong>
  <%= @trip.car %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @trip.seats %>
</p>

<p>
  <strong>Day:</strong>
  <%= @trip.day %>
</p>

<p>
  <strong>Time:</strong>
  <%= @trip.time %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @trip.phone %>
</p>
</div>
</div>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>

